<div class="wrapper">
  <div class="hero-container">
    <div class="left-section">
      <img class="svg-ellipses" src="/ellipses.svg" alt="" />
      <div class="copy">
        <h1>
          <span>Better </span>
          <span class="hero-blue">Insights </span>
          <span>For</span>
          <br />
          <span>Business </span>
          <span class="hero-blue">Growth</span>
        </h1>
        <div>
          Learn UI-UX Design skills with weekend UX . The latest online learning
          system and material that help your knowledge growing.
        </div>
        <button type="button">Get Started</button>
      </div>
    </div>
    <div class="right-section">
      <div class="hero-images">
        <img src="/Group 2214.png" alt="" />
        <img src="/Mask group.png" alt="" />
      </div>
    </div>
  </div>
</div>
